@mixin brand-gradient-horizontal() {
  background-image: linear-gradient(-153deg, #18EFC6 0%, #18D0EF 100%);
}

// Curtain
@mixin curtain($position: fixed) {
  background-color: rgba(invert($background), 0.9);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: $position;
  top: 0;
  width: 100%;
  z-index: 9;
}

.curtain {
  @include curtain;
}

// Wrap
@mixin wrap($width: 90%) {
  @include better-box(block);
  margin-left: auto;
  margin-right: auto;
  width: $width;
} // End wrap

.wrap {
  @include wrap;
}

@mixin inner-wrap {
  @include wrap(100%);
  max-width: 800px;

  // Big Phone
  @media screen and (max-width: $big-phone) {
    max-width: 520px;
  } // End Big Phone

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    max-width: 100%;
  } // End Phone & Below
} // End inner-wrap mixin

.inner-wrap {
  @include inner-wrap;
}

.large-wrap {
  @include inner-wrap;
  max-width: 1100px;
}

.mini-wrap {
  @include inner-wrap;
  max-width: 440px;
}

@mixin larger {
  font-size: 1.125em;
}

.larger {
  @include larger;
}

// Buttons
@mixin cta($color: $brand, $background-color: $background, $border-color: $background, $icon-fill: $brand) {
  @include better-box();
  align-items: center;
  background-color: $background-color;
  border-radius: 4px;
  border: 1px solid $border-color;
  color: $color;
  cursor: pointer;
  font-family: $font;
  font-size: 1em;
  line-height: 130%;
  margin-bottom: $half-space;
  padding: 0.875rem $space;
  text-decoration: none;
  white-space: nowrap;

  span, svg {
    @include better-box();
  }

  svg {
    float: left;
    height: 1em;
    margin-right: $nano-space;
    width: 1em;

    & use {
      fill: $icon-fill;
    }
  }

  &.icon-right {
    svg {
      float: right;
      margin-left: $nano-space;
      margin-right: 0;
    }
  }

  &.cta-small {
    color: $color;
    font-family: $font-bold;
    font-size: 0.8em;
  }

  &.cta-large {
    font-size: 1.188em;
    min-width: 320px;
    padding: 1.5em 3em;
  }

  &.destroy {
    background-color: $error;
    border-color: $error;
  } // End &-destroy
} // End cta mixin

@mixin loading($color: $brand, $loader-color: $background) {
  background-color: $color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  svg {
    @include absolute-center;
    height: 3em;
    width: 3em;

    & use {
      fill: $loader-color;
    }
  }
}

.loading {
  @include loading;

  &.alt {
    @include loading($background, $brand);
  }
}

.content-container {
  @include better-box;
  margin-bottom: $space;
  width: 60%;

  // Big Phone
  @media screen and (max-width: $big-phone) {
    @include full-box;
  } // End Big Phone
}

.bg-alt {
  background: $background-alt;
}

.icon {
  &, use {
    height: 100%;
    width: 100%;
  }
}

.screen {
  height: 100%;
}
