.card {
    height: auto;
    margin-bottom: -1px;
    padding-bottom: 0px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 7px 22px 0 #d3d3d3;
  }
  .cardheader {
    height: 32px;
    background-color: #9d9d9d;
    display: flex;
    justify-content: center;
  }
  .cardheader.yellow {
    background-color: #ffdf1a;
  }
  .cardheader.red {
    background-color: #d03401;
  }
  .cardheader.green {
    background-color: #18efc6;
  }

  .homecrest {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .awaycrest {
    width: 40px;
    height: 40px;
    background-color: transparent;

    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .awaycrest.incard {
    align-self: center;
    margin-right: 10px;
  }

  .incard {
    display: flex;
    align-items: stretch;
    height: 70px;
  }
  .crestcontainer {
    position: relative;
    left: 4%;
    top: -14px;
    width: 40px;
    float: left;
  }
.gametime {
    position: relative;
    display: inline-block;
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: 600;
    align-self: center;
  }
  .headertitle {
    position: relative;
    display: block;
    width: 80%;
    background-color: transparent;
    font-family: Poppins, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    align-self: center;
  }
  .playernamecard.away{
    float: right;
  }
  .playernamecard {
    display: inline-block;
    margin-right: auto;
    margin-bottom: 1px;
    margin-left: auto;
    padding-top: 0px;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-weight: 600;
    align-self: center;
  }
  .playernamecard.subname {
    width: auto;
  }
  .playernamecardaway {
    width:auto;
    display: inline-block;
    margin-bottom: 1px;
    margin-left: auto;
    padding-top: 0px;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-weight: 600;
    align-self: center;
    float: right;
  }
  .cardcontainerhome {
    align-self: center;
    margin-left: 10px;
  }
  .cardcontaineraway {
    align-self: center;
    margin-right: 10px;
  }

  .timeline {
    position: relative;
    left: 0px;
    width: 3px;
    height: 22px;
    margin-right: auto;
    margin-left: auto;
    background-color: #bdbdbd;
  }

  .goaltext {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    align-self: center;
  }
  .subon {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: 6px;
    padding-top: 0px;

    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .subon.off {
    top: 2px;
    margin-top: 0px;

    background-size: contain;
  }

  .sub {

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    align-self: center;
    margin-top: 5px;
  }
  .actionicon {
    width: 10%;
  }
  .yellowcard {

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    align-self: center;
    margin-top: 5px;
  }
  .redcard {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    align-self: center;
    margin-top: 5px;
  }
  .goal {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    align-self: center;
    margin-top: 5px;
  }
  .hometextaction {
    align-self: center;
    margin-left: 15px;
    margin-right: auto;
  }
  .hometextaction.home {
    display: flex;
  }
  .awaytextaction {
    align-self: center;
    margin-right: 15px;
    margin-left: auto;
  }
  .awaytextaction.away{
    display: flex;
  }
  .awaytextaction.awaygoal {
    display: flex;
    flex-direction: column;
  }
  .subcontainer.away {
    padding-left: 15px;
  }
  .subcontainer.home {
    padding-right: 15px;
  }
  .textcontainer {
    margin-top: 5px;
  }
  .collapse-shield{
    padding-bottom:20px;
  }
  .tv-venue{
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    padding-bottom: 10px;
  }
  .tv{
    font-weight: bold;
    display:inline-block
  }