.footer {
  border-top: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding-top: 3em;
  width: calc(100% - 20px);

  @media screen and (max-width: $big-phone) {
    flex-direction: column-reverse;
    max-width: 479px;
    padding: 1em 0;
    border-top: none;
    margin: 1em auto;
  }

  .footer-section {
    width: calc(50% - 10px);

    @media screen and (max-width: $big-phone) {
      width: 100%;
    }
  }

  .footer-left {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $big-phone) {
      border-bottom: 0px;
      padding-top: 1em;
      margin-bottom: 0em;
    }

    .footer-nav-primary {
      align-items: center;
      display: flex;

      @media screen and (max-width: $big-phone) {
        justify-content: center;
      }
    }

    .footer-nav-social-icon {
      display: block;
      margin-left: 20px;
      transition: all 0.2s;

      &:hover{
        transform: translateY(-2px);
      }

      img{
        width: 30px;
      }
    }
  } // End .footer-nav

  .footer-right {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .footer-app-store-logo {
      display: inline-block;
      width: 48%;

      @media screen and (max-width: $big-phone) {
        margin-bottom: 10px;
        width: 48%;
      }

      img {
        margin-right: 20px;
        width: 100%;

        @media screen and (max-width: $big-phone) {
          max-width: none;
          width: 100%;
          margin: 0;
        }
      }
    } // End .footer-app-store-logo
  } // End .footer-app-store-links

  .footer-text-link {
    color: #28323F;
    display: inline-block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1em;
    transition: all 0.2s;

    &:hover {
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
      color: #28323F;
      text-decoration: none;
      transform: translateY(-2px);
    }
  } // End .footer-text-link
} // End .footer