.header-title {
  top: 10px;
  color: #5d5d5d;
  line-height: 50px;
  font-weight: 400;
  font-size: .8em;
  padding-left: 9px;
  letter-spacing: .14em;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}
.header-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.desktop-header {
  flex: 0 1 214px;
}