
.about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;
    padding:80px 84px 84px 115px;
    background-color: #FFFFFF;	
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.08);
}

.as-football-fanatics 
{	
    color: #000000;	
    font-family: Poppins;	
    font-size: 40px;	
    font-weight: bold;	
    letter-spacing: -1px;	
    line-height: 42px;
    padding-bottom: 32px;
}

.contact {
	height: 38px;
	width: 572px;
	color: #444444;
	font-family: Poppins;
	font-size: 13px;
    line-height: 19px;
    padding-bottom: 60px;
}

.line 
{	
    box-sizing: border-box;	
    height: 3px;	
    width: 100%;	
    border-bottom: 1px solid #CFCCCC;
    padding-top: 50px;
}

.tapin-logo{
    padding-top:50px;
    padding-bottom:10px;
}

.detail{
    color: #444444;	
    font-family: Poppins;	
    font-size: 13px;	
    line-height: 19px;
    padding-bottom:20px;
}

.contact-link{
    color: #18EFC6;
}

.people{
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

.person{
    display: table-cell;
    padding:5px;
}

.person .text{	
    max-width:216px;
    font-family: Poppins;	
    font-size: 13px;		
    line-height: 19px;
    padding-top: 10px;
    text-align: left;
}

.person-extra{
    padding-top: 30px;
    font-family: Poppins;	
    font-size: 13px;		
    line-height: 19px;
    text-align: left;
}

.medium{
	color: #444444;
	font-family: Poppins;
	font-size: 13px;
    line-height: 19px;
    padding-top: 68px;
    display:none;
}

@media screen and (max-width: 767px) {
    .about{
        padding: 20px;
    }
}