
.about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;
    padding:80px 84px 44px 115px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.08);
}

.about-us-header{
    display:none;
}
.about-us
{
    color: #000000;
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 140%;
    padding-bottom: 32px;
}

.contact {
	height: 38px;
	width: 572px;
	color: #444444;
	font-family: Poppins;
	font-size: 13px;
    line-height: 19px;
    padding-bottom: 0px;
}

.contact-link{
    color: #00c6e7;
}

.line
{
    box-sizing: border-box;
    height: 3px;
    width: 100%;
    border-bottom: 1px solid #CFCCCC;
    padding-top: 40px;
}

.tapin-logo{
    padding-top:50px;
    padding-bottom:10px;
}

.detail{
    color: #444444;
    font-family: Poppins;
    font-size: 13px;
    line-height: 19px;
    padding-bottom:20px;
}

.people{
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

.person{
    display: table-cell;
    padding:5px;
}

.person .image img{
    width: 100%;
}

.person .text{
    max-width:216px;
    font-family: Poppins;
    font-size: 13px;
    line-height: 19px;
    padding-top: 10px;
    text-align: left;
}

.person-extra{
    padding-top: 30px;
    font-family: Poppins;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
}

.medium{
	color: #444444;
	font-family: Poppins;
	font-size: 13px;
    line-height: 19px;
    padding-top: 30px;
}


@media screen and (max-width: 767px) {
    .about{
        padding: 20px;
    }
}

@media screen and (max-width: 479px) {
  .about-us {
    font-size:26px;
    line-height: 32px;
  }
  .about-us-header{
    display: block;
    color: #000000;
    font-family: Poppins;
    font-size: 40pt;
    font-weight: bold;
    letter-spacing: -1pt;
    line-height: 42pt;
    padding-bottom: 6pt;
  }

  .person{
      display:block;
      width:100%;
      padding-bottom: 18pt;
  }

  .person .text{
      max-width: 100%;
  }
  .person .image img{
      width:100%;
  }

  .person-extra{
      padding-top: 0px;
  }
}