.matches-container {
  width: -webkit-calc(100% - 220px);
  width: -moz-calc(100% - 220px);
  width: calc(100% - 220px);
}
.matches {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100%;
}
.column {
  width: 50%;
}

.column.column-left .match-container:nth-child(even) {
  display: none;
}

.match-container {
  width: 100%;
  padding: 10px;
}

.bigtext {
  color: #28323F;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1.27px;
  line-height: 44px;
}

.desktop-header{
  display:block;
}
.mobile-header{
  display:none;
}

@media screen and (max-width: 1024px) {
  .w-container.w-container-matches{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
  .matches-container{
    width: 100%;
  }
  .mobile-header{
    display:flex;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .bigtext{
    padding-top:5px;
  }
  .logoname{
    margin-left: auto;
  }
  .desktop-header{display:none;}
}

@media screen and (max-width: 767px) {
  .w-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 920px;
  }
  .matches{max-width:100%;}
  .mobile-header{
    display:none;
  }
  .bigtext{
    padding-top:5px;
  }
  .logoname{
    margin-left: auto;
  }
  .desktop-header{display:none;}

  .column {
    width: 100%;
  }
  .column.column-left .match-container:nth-child(even) {
    display: block;
  }
  .column.column-right{
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .container-fluid {
    padding: 0;
  }
  .match-container {
    padding: 0px;
  }
}
