.matches {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
}
.column {
  width: 50%;
}

.column.column-left .match-container:nth-child(even) {
  display: none;
}

.match-container {
  width: 100%;
  padding: 10px;
}

.bigtext {
  color: #28323F;
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1.27px;
  line-height: 44px;
}

.desktop-header{
  display:block;
}
.mobile-header{
  display:none;
}

@media screen and (max-width: 1024px) {
  .w-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .matches{max-width:100%;}
  .mobile-header{
    display:flex;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
  }
  .bigtext{
    padding-top:5px;
  }
  .logoname{
    margin-left: auto;
  }
  .desktop-header{display:none;}
}

@media screen and (max-width: 767px) {
  .w-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .matches{max-width:100%;}
  .mobile-header{
    display:none;
  }
  .bigtext{
    padding-top:5px;
  }
  .logoname{
    margin-left: auto;
  }
  .desktop-header{display:none;}

  .column {
    width: 100%;
  }
  .column.column-left .match-container:nth-child(even) {
    display: block;
  }
  .column.column-right{
    display: none;
  }
}

