.matches-container {
  width: -webkit-calc(100% - 220px);
  width: -moz-calc(100% - 220px);
  width: calc(100% - 220px);
}
.matches {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100%;
}
.column {
  width: 50%;
}

.column.column-left .match-container:nth-child(even),
.column.column-right .match-container:nth-child(odd) {
  display: none;
}

.column.column-left .match-container:nth-child(even).must-read,
.column.column-right .match-container:nth-child(odd).must-watch {
  display: block;
}

@media screen and (max-width: 767px) {
  .column.column-left .match-container:nth-child(even).must-watch {
    display: block;
  }

  .column.column-right .match-container:nth-child(odd).must-watch {
    display: none;
  }

}

.match-container {
  width: 100%;
  padding: 10px;
}

.bigtext {
  color: #000000;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1.27px;
  line-height: 44px;
}

.dateRangeText{
  height: 18px;
  color: #363636;
  font-family: Poppins;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 18px;
  font-weight: normal;
}

.contextblurb{
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 20px;
  width: 90%;
}

.contextblurb a {
  color: #00c6e7;
}

.desktop-header{
  display:block;
}
.mobile-header{
  display:none;
}

@media screen and (max-width: 1024px) {
  .wrapper.wrapper-matches{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
  .matches-container{
    width: 100%;
  }
  .mobile-header{
    display:flex;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .bigtext{
    padding-top:5px;
  }

  .logoname{
    margin-left: auto;
  }

  .contextblurb{
    font-size: 18pt;
    line-height: 24pt;
  }

  .logoname img{
    height: auto;
    width: auto;
  }
  .desktop-header{display:none;}
}

@media screen and (max-width: 767px) {
  .wrapper{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .matches{max-width:100%;}

  .mobile-header{
    display:block;
    padding: 10px !important;
  }

  .bigtext,
  .logoname,
  .dateRangeText,
  .desktop-header,
  .column.column-right{
    display:none;
  }

  .contextblurb{
    letter-spacing: normal;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
    width:100%;
  }
  .column {
    width: 100%;
  }
  .column.column-left .match-container:nth-child(even) {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .container-fluid {
    padding: 0;
  }
  .match-container {
    padding: 0px;
  }
}
