.matches-container {
  width: calc(100% - 220px);

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  .matches {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }

    .matches-column {
      width: 50%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      &.column-left {
        .match-container {
          &:nth-child(even) {
            display: none;

            @media screen and (max-width: 767px) {
              display: block;
            }
          } // End .match-toncatiner:nth-child(even)

          &.content-highlight {
            display: block;

            &.hide-desktop {
              @media screen and (min-width: 767px) {
                display: none;
              }
            }
          }
        }
      } // End .matches-column.column-left

      &.column-right {
        @media screen and (max-width: 767px) {
          display: none;
        }

        .match-container {
          &:nth-child(odd) {
            display: none;

            &.content-highlight {
              display: block;

              &.hide-mobile {
                @media screen and (max-width: 767px) {
                  display: block;
                }
              }
            }
          }
        }
      } // End .matches-column.column-left
    } // End .matches-column
  } // End .matches
} // End .matches-container


.match-container {
  width: 100%;
  padding: 10px;

  @media screen and (max-width: 479px) {
    padding: 0;
  }
}




