footer {
  @include section;
  background-color: $brand;
  color: rgba($background, 0.2);

  a.logo {
    @include logo($background);
  }

  nav {
    // Big Phone
    @media screen and (max-width: $big-phone) {
      display: none;
    } // End Big Phone

    a {
      @include nav-link($background);
    }
  } // End nav

  .cta {
    @include cta($background, $background);
  }

  .social-nav {
    @include full-box;
    margin: $double-space 0;
    text-align: center;

    a {
      @include better-box;
      color: $background;
      padding: $micro-space;
      text-decoration: none;
    }
  } // End .social-nav

  .copyright {
    font-size: 1.125em;
    margin-bottom: 0;
    text-align: center;
  }
} // End footer
