.bodycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px none #8a8a8a;
  background-color: #f8f8f8;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .5), inset 13px 3px 25px -10px rgba(0, 0, 0, .3);
  -webkit-perspective: 1375px;
  perspective: 1375px;
  -webkit-perspective-origin: 70% 70%;
  perspective-origin: 70% 70%;
}

.maincontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/Soccer_Field_Transparant-01.svg');
  background-position: 103px 0px;
  background-size: cover;
  letter-spacing: 0.08em;
}

.device {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 570px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: cover;
}

.crest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #c5c5c5;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(1413px) rotate(0deg);
  transform: perspective(1413px) rotate(0deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-size: 11px;
  line-height: 19px;
}

.body {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.div-block-5 {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 20%;
  background-color: transparent;
  opacity: 1;
  color: #000;
}

.text-field {
  display: block;
  width: 90%;
  margin: 11px auto;
  color: #000;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.submit-button {
  display: inline-block;
  width: 20%;
}

.field-label {
  display: block;
  width: 90%;
  margin-top: 11px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.submit-button-2 {
  width: 200px;
  background-color: #2f97dd;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.div-block-6 {
  position: relative;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: -17px;
  padding-left: 0px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #2f97dd;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .47);
  -webkit-transition: all 200ms cubic-bezier(.6, -.28, .735, .045);
  transition: all 200ms cubic-bezier(.6, -.28, .735, .045);
}

.div-block-6:hover {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}

.div-block-7 {
  display: inline-block;
  padding-top: 24px;
  padding-left: 94px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: Oswald, sans-serif;
  color: #999;
  font-size: 11px;
  line-height: 12px;
  font-weight: 300;
  letter-spacing: 0.22em;
  text-transform: uppercase;
}

.div-block-8 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -127px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.circle1 {
  position: absolute;
  left: -4%;
  right: 0px;
  bottom: -4%;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid #cacaca;
  border-radius: 300px;
}

.colorblock {
  width: 30px;
  height: 3px;
  background-color: #0098ff;
}

.menu {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  margin-top: 130px;
  margin-bottom: 59px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-top-width: 1px;
  border-top-color: #e0e0e0;
  border-right-width: 2px;
  border-right-color: #2f97dd;
  background-color: #f8f8f8;
  box-shadow: 0 17px 45px 0 rgba(0, 0, 0, .28);
}

.logo {
  margin-top: 48px;
  float: none;
  clear: none;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.logo:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.div-block-9 {
  padding-top: 15px;
  line-height: 29px;
}

.select-field {
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.context {
  position: absolute;
  z-index: 1;
  width: 270px;
  margin-top: 40px;
  margin-left: 40px;
}

.context._2 {
  left: 0px;
  bottom: 0px;
  display: block;
  margin-bottom: 29px;
  margin-left: 135px;
}

.text-block {
  padding-top: 14px;
  color: #2f97dd;
  font-size: 11px;
  line-height: 14px;
  text-decoration: none;
}

.text-block-2 {
  color: #000;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}

.form {
  color: #000;
}

.form-wrapper {
  color: #000;
}

.image-2 {
  padding-right: 38px;
  padding-left: 38px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.image-2:hover {
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
  -webkit-transform: perspective(1500px);
  transform: perspective(1500px);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.text-block-3 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 2px;
  text-align: center;
}

.div-block-10 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 4px;
  height: 60px;
  margin-top: 112px;
  margin-right: 20%;
  margin-bottom: 112px;
  background-color: #0098ff;
}

.link-block {
  width: 90px;
  height: 139px;
}

.link-block-2 {
  display: block;
  text-decoration: none;
}

.link-block-3 {
  display: block;
  text-decoration: none;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 74%;
  height: 69%;
  margin-top: -10px;
  margin-right: 3px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  background-position: 0px 0px;
  background-size: cover;
}

@media (max-width: 991px) {
  .sidebar {
    width: 38vw;
  }
  .div-block-5 {
    width: 38vw;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 50vw;
  }
  .device {
    width: 250px;
    height: 470px;
  }
  .div-block-5 {
    width: 50vw;
  }
  .menu {
    display: none;
  }
  .context._2 {
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .sidebar {
    width: 40vw;
    padding-top: 78px;
  }
  .device {
    width: 180px;
    height: 350px;
  }
  .crest {
    width: 100px;
    height: 100px;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .div-block-5 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
  }
  .div-block-7 {
    padding-top: 26px;
    padding-left: 82px;
  }
  .context {
    display: none;
    margin-top: 92px;
    margin-left: 15px;
  }
  .context._2 {
    margin-left: 15px;
  }
  .image-2 {
    padding-right: 17px;
    padding-left: 17px;
  }
  .text-block-3 {
    padding-top: 0px;
  }
}