.body{
  background-color:#fff;
}
.crest:not(.selected-crest):hover {
  background-color: #ebebeb;
  box-shadow: 1px 23px 38px -16px rgba(0, 0, 0, .41);
  -webkit-transform: perspective(740px) rotateX(0deg) rotateY(-23deg) rotateZ(0deg) translate(-9px, 0px);
  transform: perspective(740px) rotateX(0deg) rotateY(-23deg) rotateZ(0deg) translate(-9px, 0px);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  cursor: pointer;
}

.selected-crest{
  background-color: transparent;
  border: none;
  cursor: default;
  margin-right:-80px;
}

.selected-crest:hover{
  background-color: transparent;
}

.div-block-6{
  background-color: none;
  cursor: pointer;
}
.div-block-11{
  width: 73%;
  height: 69%;
  margin-top: -9px;
  margin-right: 2px;
}

