/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  margin: 0;
  min-height: 100%;
  background-color: #f0f0f0 !important;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
}
.w-container:before,
.w-container:after {
  content: " ";
  display: table;
}
.w-container:after {
  clear: both;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.headcolor {
    top: 10px;
    color: #5d5d5d;
    line-height: 50px;
    font-weight: 400;
    font-size: .8em;
    padding-left: 9px;
    letter-spacing: .14em;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}
.logoname {
    padding-top: 10px;
    padding-bottom: 10px;
}

.info {
  flex: 0 1 214px;
}

@media screen and (max-width: 479px) {
  .w-container{
    padding-top: 0px;
  }
}